*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Mulish', sans-serif;
}

.header-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90px;
   .header__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 943px;
    height: 90px;
    border-bottom: 2px solid #828282;
    .header__navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        .navbar__title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 943px;
            height: 50px;
        }
        .navbar__item{  
            display: flex;  
            width: auto;           

            .navbar__link{
                    padding: 5px 17px;
                    color: #828282;
                    font-size: 18px;
                    font-weight: 400;
            }
            .navbar__link:hover{
                color: black; 
                font-weight: 700;
            }
        }
    }
   }
}